.app{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title-memotest{

  padding:  20px 40px;
  text-align: center;
  color: white;
  font-family: OrbitronRegular;
  letter-spacing: 5px;
}

.turn-memotest{
  text-align: center;
  color: white;
  font-family: OrbitronRegular;
  margin-top: 40px;
}
.turn-memotest span{
  margin-left: 10px;
}

.btn-play-again{
  text-align: center;
  color: black;
  font-family: OrbitronRegular;
  background-color: #fff;
  padding: 5px;
  margin-top: 50px; 
}